body{
    font-family: 'Signika', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.titulos{
    font-family: 'Raleway', sans-serif;
}

.jumbo-color {
    background: rgb(53,96,32);
    background: radial-gradient(circle, rgba(53,96,32,1) 15%, rgba(14,97,90,1) 80%);
    padding: 4rem 3rem;
}

.card-hotel{
    width: 14rem;
    border-color: blueviolet;
    border-radius: 10px;
    min-height: 300px;
}

.text-justify{
    text-align: justify;
}

.footer{
    margin-top: auto;
    color: aliceblue;
    background: rgb(53,96,32);
    background: radial-gradient(circle, rgba(53,96,32,1) 15%, rgba(14,97,90,1) 80%);

}

.social-icon{
    font-size: 3rem;
    color: aliceblue;
    margin: 14px;
}

a{
    text-decoration: none;
}

